In [14]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv("csv/dados.csv")
df

      condominio  quartos  suites  vagas  area    bairro    preco       pm2
0            350        1     0.0    1.0    21  Botafogo   340000  16190.48
1            800        1     0.0    1.0    64  Botafogo   770000  12031.25
2            674        1     0.0    1.0    61  Botafogo   600000   9836.07
3            700        1     1.0    1.0    70  Botafogo   700000  10000.00
4            440        1     0.0    1.0    44  Botafogo   515000  11704.55
5            917        1     1.0    1.0    60  Botafogo   630000  10500.00
6            850        1     1.0    1.0    65  Botafogo   740000  11384.62
7            350        1     1.0    1.0    43  Botafogo   570000  13255.81
8            440        1     1.0    1.0    26  Botafogo   430000  16538.46
9            510        1     1.0    1.0    42  Botafogo   500000  11904.76
10           200        1     0.0    1.0    35  Botafogo   500000  14285.71
11           552        1     1.0    1.0    67  Botafogo   790000  11791.04
12           495        1     1.0    1.0    54  Botafogo   515000   9537.04
13           340        1     1.0    1.0    40  Botafogo   410000  10250.00
14           800        1     1.0    1.0    60  Botafogo   625000  10416.67
15           530        1     0.0    1.0    40  Botafogo   360000   9000.00
16           500        1     0.0    1.0    47  Botafogo   670000  14255.32
17           600        1     1.0    1.0    45  Botafogo   500000  11111.11
18           465        1     0.0    1.0    50  Botafogo   570000  11400.00
19          1400        1     1.0    1.0    50  Botafogo   570000  11400.00
20           700        1     1.0    1.0    58  Botafogo   630000  10862.07
21           250        1     0.0    1.0    40  Botafogo   400000  10000.00
22          1000        1     1.0    1.0    54  Botafogo   750000  13888.89
23           280        1     0.0    1.0    65  Botafogo   578000   8892.31
24           481        1     1.0    1.0    28  Botafogo   350000  12500.00
25           150        1     0.0    1.0    40  Botafogo   130000   3250.00
26          1071        1     1.0    1.0    44  Botafogo   597000  13568.18
27           750        2     1.0    1.0    70  Botafogo   995000  14214.29
28           992        2     1.0    1.0   105  Botafogo  1150000  10952.38
29           990        2     1.0    1.0   100  Botafogo  1200000  12000.00
...          ...      ...     ...    ...   ...       ...      ...       ...
1967         600        3     1.0    1.0    99    Tijuca   780000   7878.79
1968         780        3     1.0    1.0   120    Tijuca   780000   6500.00
1969        1068        3     1.0    1.0    95    Tijuca   795000   8368.42
1970         900        3     1.0    1.0    92    Tijuca   680000   7391.30
1971         480        3     1.0    3.0   142    Tijuca   600000   4225.35
1972         588        3     1.0    1.0    98    Tijuca  1100000  11224.49
1973         210        3     1.0    1.0    95    Tijuca   440000   4631.58
1974        1370        3     1.0    2.0   130    Tijuca  1050000   8076.92
1975         500        3     1.0    1.0   102    Tijuca   955000   9362.75
1976         670        3     2.0    1.0   139    Tijuca   878000   6316.55
1977         730        3     0.0    1.0    90    Tijuca   550000   6111.11
1978        1000        3     1.0    2.0   125    Tijuca   825000   6600.00
1979        1050        3     1.0    2.0    95    Tijuca   899000   9463.16
1980        1100        3     1.0    2.0   110    Tijuca   850000   7727.27
1981         850        3     1.0    2.0   118    Tijuca   850000   7203.39
1982        1100        3     1.0    1.0   110    Tijuca   750000   6818.18
1983         950        3     1.0    1.0   105    Tijuca   730000   6952.38
1984         970        3     1.0    1.0   110    Tijuca   650000   5909.09
1985        1336        3     2.0    1.0   120    Tijuca   850000   7083.33
1986         900        3     1.0    1.0    90    Tijuca   860000   9555.56
1987         880        3     1.0    1.0   100    Tijuca   800000   8000.00
1988         870        3     1.0    1.0   100    Tijuca   580000   5800.00
1989         400        3     1.0    1.0    92    Tijuca   480000   5217.39
1990         686        3     0.0    1.0   105    Tijuca   490000   4666.67
1991         450        3     1.0    1.0    72    Tijuca   435000   6041.67
1992        1080        3     1.0    1.0    80    Tijuca   680000   8500.00
1993         750        3     0.0    1.0    82    Tijuca   650000   7926.83
1994         700        3     1.0    1.0   100    Tijuca   629900   6299.00
1995        1850        3     1.0    2.0   166    Tijuca  1600000   9638.55
1996         800        3     1.0    1.0   107    Tijuca   540000   5046.73

[1997 rows x 8 columns]

In [21]:
#Apagar coluna
df = df.drop('pm2', axis=1)

In [24]:
df.tail()

      condominio  quartos  suites  vagas  area  bairro    preco
1992        1080        3     1.0    1.0    80  Tijuca   680000
1993         750        3     0.0    1.0    82  Tijuca   650000
1994         700        3     1.0    1.0   100  Tijuca   629900
1995        1850        3     1.0    2.0   166  Tijuca  1600000
1996         800        3     1.0    1.0   107  Tijuca   540000

In [25]:
#Apaga valoes NaN
df.dropna(axis=0, how='all', inplace=True)

In [ ]:
#Converter numeros float